.img1{
    background-image:url("https://c0.wallpaperflare.com/preview/244/466/424/organic-vegan-vegetable-supermarket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
    /* height:400px; */
}
.org{
    color:orange;
}
.abc{
    width: 40%;
}
.img2{
height:300px;
width:400px;
}
.img3{
    border-radius:100%;
}
.img4{
    border-radius: 100%;
}
.img5{
    border-radius: 100%;
}